@font-face {
    font-family: "merriweather";
    src: url("./fonts/Merriweather-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "merriweather";
    src: url("./fonts/Merriweather-Bold.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "raleway";
    src: url("./fonts/Raleway-Regular.ttf") format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: "raleway";
    src: url("./fonts/Raleway-Thin.ttf") format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: "raleway";
    src: url("./fonts/Raleway-Bold.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "raleway";
    src: url("./fonts/Raleway-Italic.ttf") format('truetype');
    font-style: italic;
}

@media (min-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            "side main-content"
        ;
        height: 95vh;
    }
    
    html, body {
        font-family: 'raleway', Arial, Helvetica, sans-serif;
        font-size: 14pt;
        font-weight: normal;
        background-color: rgb(255, 225, 225);
    }
    
    .sidebar {
        grid-area: side;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
            "header"
            "navbar"
        ;
    }
    
    .header {
        color: rgb(18, 135, 134);
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        grid-area: header;
    }
    
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        grid-area: navbar;
    }
    
    .content, .sidebar {
        margin-top: 20px;
        margin-left: 10px;
        padding: 10px;
        background-color: white;
    }
    
    .content {
        grid-area: main-content;
        overflow: auto;
    }
    
    h1 {
        font-family: 'merriweather', 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 30pt;
    }
}

@media (max-width: 699px) {
    .container {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "side"
            "main-content"
        ;
        height: 95vh;
        width: 95vw;
    }
    
    html, body {
        font-family: 'raleway', Arial, Helvetica, sans-serif;
        font-size: 12pt;
        font-weight: normal;
        background-color: rgb(255, 225, 225);
    }
    
    .sidebar {
        grid-area: side;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
            "header navbar"
        ;
    }
    
    .header {
        color: rgb(18, 135, 134);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-area: header;
    }

    .tagline {
        display: none;
    }
    
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        grid-area: navbar;
    }
    
    .content, .sidebar {
        margin-top: 20px;
        margin-left: 10px;
        padding: 10px;
        background-color: white;
    }
    
    .content {
        grid-area: main-content;
        overflow: auto;
    }
    
    h1 {
        font-family: 'merriweather', 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 16pt;
    }
}
    
h2 {
    font-family: 'merriweather', 'Times New Roman', Times, serif;
    color:rgb(135, 35, 25);
}

a {
    color:rgb(215, 140, 5);
}

.navbar .navcurrent, .navbar .navlinks {
    font-family: 'merriweather', 'Times New Roman', Times, serif;
    font-weight: bold;
}

.navcurrent a {
    color: rgb(18, 135, 134);
}

table {
    width: 100%;
    padding-top: 5px;
}

.job-right {
    text-align: right;
}

#proj-table th, #proj-table td {
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
}

#proj-table tr:nth-child(odd) {
    background-color: rgb(235, 235, 235);
}

.proj-title {
    font-weight: bold;
    color:rgb(18, 135, 134);
}

.proj-date {
    font-style: italic;
    font-size: 12pt;
}

th {
    text-align: left;
}

img {
    max-width: 80%;
    height: auto;
}

#contacts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 72pt;
}

#contacts a:hover {
    color: rgb(135, 35, 25);
}